@model Cart
@{
    ViewData["Title"] = "Default";
}



<div>
    @if (Model.Lines.Count()>0)
    {
        <div>
            <p style="font-weight:bold;">Your cart: @Model.Lines.Sum(x => x.Quantity) item(s); @Model.TotalValue().ToString("c")
            <a class="btn btn-success" asp-controller="Cart" asp-action="Index"><i class="fa-solid fa-sack-dollar fa-beat"></i></a></p>
        </div>
    }
</div>